body {
    background-color: #802047;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body *{
    font-family: "Myriad Pro", sans-serif;
}

.desktop{
    position: absolute;
    z-index: 1;
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 60px);
}

.desktop .shortcut{
    border: 2px solid rgba(0,0,0,0);
    width: 70px;
    padding: 5px;
    cursor: pointer;
}

.desktop .shortcut:hover{
    border: 2px solid #ddd;
}

.desktop .shortcut.ui-draggable-dragging{
    cursor: move;
    border: 2px solid rgba(0,0,0,0);
}

.shorticon{
    margin: 0 5px;
    width: 60px;
}
.shortname{
    color: white;
    text-align: center;
}

.windows{
    width: 100vw;
    flex: 1 1 auto;
    order:5;
    position: relative;
    z-index: 10;
    pointer-events: none;
}

.window{
    pointer-events: auto;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 30vh;
    left: 30vw;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    opacity: 0.8;
}

.window.selectedWin{
    opacity: 1;
}

.window-head{
    background: #000;
    height: 30px;
    cursor: move;
    overflow-y: hidden;
}

.window-head .title{
    color: white;
    font-size: 20px;
    padding: 5px;
}

.title .winico{
    width: 20px;
    height: 20px;
}

.window-body{
    width: 100%;
    height: calc(100% - 30px);
    background: white;
}

.con{
    width: 100%;
    height: 100%;
}

.btn{
    float: right;
    width: 15px;
    height: 15px;
    margin: 7.5px 5px;
    cursor: pointer;
    border-radius: 100%;
}

.close{
    background-color: red;
}

.shrink{
    background-color: gold;
}

.grow{
    background-color: green;
}

.current{
    width: 100vw;
    background: #000;
    flex: 0 0 50px;
    order: 10;
    position: relative;
    display: flex;
}

.tbaricon{
    /*height: calc(100% - 10px);*/
    width: 40px;
    cursor: pointer;
    position: relative;
    padding: 5px;
    transition: background-color 0.2s;
}

.tbaricon img{
    width: 40px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.tbaricon.open{
    background-color: #333;
}

.tbaricon:hover{
    background: #555;
}

.status{
    color: white;
    right: 5px;
    position: absolute;
    bottom: 15px;
    content: '%a %Y/%m/%d %H:%M:%S';
}

.batstate{
    display: inline-block;
    padding-right: 5px;
    border-right: 2px solid white;
    margin-right: 2px;
}

#date{
    display: inline-block;
}