.body{
    display: grid;
    grid-template-areas:
    "home settings urlbar"
    "pages pages pages";
    grid-template-columns: 40px 40px 1fr;
    grid-template-rows: 40px 1fr;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #eee;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.home, .settings{
    font-size: 35px;
    color: #444;
    text-align: center;
    cursor: pointer;
}

.home:hover, .settings:hover{
    background-color: #ccc;
}

.searchbar{
    color: #444;
    font-family: "Lato", sans-serif;
    margin: 5px;
    font-size: 20px;
}

.home{
    grid-area: home;
}

.settings{
    grid-area: settings;
}

.searchbar{
    grid-area: urlbar;
}

.page{
    grid-area: pages;
}

.page iframe{
    width: 100%;
    height: 100%;
}