body{
	display: grid;
	grid-template-areas:
	"back reload urlbar"
	"pages pages pages";
	grid-template-columns: 40px 40px 1fr;
	grid-template-rows: 40px 1fr;
	padding: 0;
	margin: 0;
	height: 100vh;
	background-color: #eee;
	overflow: hidden;
}

.back, .reload{
	font-size: 35px;
	color: #444;
	text-align: center;
	cursor: pointer;
}

.back:hover, .reload:hover{
	background-color: #ccc;
}

.searchbar{
	color: #444;
	font-family: "Lato", sans-serif;
	margin: 5px;
	font-size: 20px;
}

.back{
	grid-area: back;
}

.reload{
	grid-area: reload;
}

.searchbar{
	grid-area: urlbar;
}

.page{
	grid-area: pages;
}

.page iframe{
	width: 100%;
	height: 100%;
}